.star {
    color: #fd853a;
    font-size: 1.3em;
}
.about {
    color: #344054;
}

.semi {
    background-color: #feb273;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 300px 300px 0 0;
    height: 250px;
    width: 500px;
    /* height: 15em;
    width: 30em; */
    top: 74%;
    left: 50%;
}

@media screen and (max-width:600px){
    .semi{
        height: 180px;
        width: 360px;
    }
}
