.testimonial {
    background: url("/src/assets/images/orange-wavy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
}

.testimonial-card {
    background-color: rgba(255, 255, 255, 0.1);
}

.quote {
    color: #6670854d;
}
